.idea/
docker/var/log
docker/var/data

src/bitrix/*
!src/bitrix/templates/
!src/bitrix/php_interface/
!src/bitrix/components/
src/bitrix/components/bitrix/
src/bitrix/php_interface/after_connect.php
src/bitrix/php_interface/after_connect_d7.php
src/bitrix/php_interface/dbconn.php

.idea
.gitignore
src/.htaccess
src/.DS_Store
src/robots.txt
src/upload/
src/upload
webstat/
cgi-bin/
src/sitemap_index.xml
src/sitemap.xml
src/sitemap*.xml
src/_html/
src/_test/

src/.composer/vendor/
src/.composer/vendor

*.log
*.old
*.gz
*.bz2
*.zip
*.rar
*.7z
*.dump
*.sql
*.txt
src/cron/*.lock
src/cron/*.pid